.gen/
_out/
dist/
edmx/
gen/
mta_archives/
node_modules/
target/
resources/

.DS_Store
*.log
*.mtar
connection.properties
default-env.json
.cdsrc-private.json
package-lock.json

*.openapi3.json
*.sqlite
*.db

@types/
@cds-models/
capfootballmatch/resources/